<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Query</title>
	<link rel="stylesheet" type="text/css" href="/css/basic.css" />
	<script src="/script/jquery-3.2.1.min.js"></script>
	<script src="/script/utils.js"></script>
	<script>
	$(function() {
		var retrieveURL = "/api/v1/db/admin/retrieve";
		var invalidationURL = "/api/v1/db/admin/invalidation";
		var invalidationListURL = "/api/v1/db/admin/invalidationList";
		var historyURL = "/api/v1/db/admin/history";
		
		// submitButton 버튼 클릭시 데이터를 url로 전송하고 토큰값을 json형태로 받아오는 ajax
		$('#retrieve').on("click", {URL : retrieveURL}, postAjax);
		$('#invalidation').on("click", {URL : invalidationListURL}, postAjax);
		$('#history').on("click", {URL : historyURL}, postAjax);
		$('body').on('click', '#invalidButton', function () {
			var arr = []; 
			$('select[name="invalidCheck"] :selected').each(function(i, selected){ 
			  arr[i] = $(selected).val(); 
			});
		});
		
		var token = readCookie("token");
		
		$("#authorization").val(token);
	});
	function postAjax (event) {
		event.preventDefault();
		$.ajax({
			type : 'post',
			url : event.data.URL, 
			headers : {
				"Content-Type" : "application/json",
				"X-HTTP-Method-Override" : "POST",
	          	Authorization : $("#authorization").val()
			},
			dataType : 'text',
			/* dataType : 'text',
		    data: JSON.stringify({			// data를 JSON.stringify 해서 post. controller에서 @RequestBody DBConnectionInfo dbConnectionInfo로 받음. 
		    	query: $("#query").val(),
		    }), */
			success : function (result) {
				//var formattedJson = goodFormatReplaceJson(result);		// utils.js의 goodFormatReplaceJson함수를 호출헤서 json을 보기 좋은 포맷으로 변환
				//$("#result").html(formattedJson);
				//$("#result").html(result);
				//$("#result").show();
				jsonToHtml(result);
			}
			
		});
	}

	function postAjaxInvalid (event) {
		event.preventDefault();
		$.ajax({
			type : 'post',
			url : event.data.URL, 
			headers : {
				"Content-Type" : "application/json",
				"X-HTTP-Method-Override" : "POST",
	          	Authorization : $("#authorization").val()
			},
			dataType : 'text',
		    data: JSON.stringify({			// data를 JSON.stringify 해서 post. controller에서 @RequestBody DBConnectionInfo dbConnectionInfo로 받음. 
		    	query: $("#query").val(),
		    }),
			success : function (result) {
				//var formattedJson = goodFormatReplaceJson(result);		// utils.js의 goodFormatReplaceJson함수를 호출헤서 json을 보기 좋은 포맷으로 변환
				//$("#result").html(formattedJson);
				//$("#result").html(result);
				//$("#result").show();
				jsonToHtml(result);
			}
			
		});
	}
	function toHtml(data) {
		var tbl_body = document.createElement("tbody");
	    var odd_even = false;
	    $.each(data, function() {
	        var tbl_row = tbl_body.insertRow();
	        tbl_row.className = odd_even ? "odd" : "even";
	        $.each(this, function(k , v) {
	            var cell = tbl_row.insertCell();
	            cell.appendChild(document.createTextNode(v.toString()));
	        })        
	        odd_even = !odd_even;               
	    })
	    $("#result").html(tbl_body);
	}
	
	
	function jsonToHtml(json) {
		var arr = JSON.parse(json);
		//alert(obj);
		/* var jsonObj = $.parseJSON(json);
		alert(jsonObj); */
        var html = "<div><table border='1'>";
        var th = '<th></th>';
        var td = '';
        var index = 0;
        $.each(arr, function(key, obj){
            html += '<tr>';

            td += "<td><input type='checkbox' name='invalidCheck' /></td>";
            $.each(obj, function(key, value){
            	if (index === 0) {
            		th += '<th>' + key + '</th>';
            	}
	            td += '<td>' + value + '</td>';
            });

            index++;
            html += (th + '</tr>');
            html += ('<tr>' + td);
            html += '</tr>';
            th = '';
            td = '';
        });
        html += "</table><p style='text-align:center;'><input type='button' id='invalidButton' value='invalid' /></p></div>";

        $('#result').html(html);
	}
	
	function postCheckboxes() {
		var arr = []; 
		$('select[name="invalidCheck"] :selected').each(function(i, selected){ 
		  arr[i] = $(selected).val(); 
		});
	}
	</script>
</head>
<body>
	<div class="navi">
		<ul>
			<li id="retrieve">Retrieve Session</li>
			<li id="invalidation">Invalidation Session</li>
			<li id="history">Retrieve Session History</li>
		</ul>
	</div>
	<div class="contents">
		<form name = "queryForm" id="queryForm" action="/api/v1/db/query">
			<p><label for="username">Authorization: </label><input type="text" id="authorization" class="authorization" name="authorization" /></p>
			<p><button id="queryButton">query</button></p>
		</form>	
	</div>
	<div id="result"></div>
</body>
</html>




















